@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Esses são meus meios de contato:<br />
    <br />
    <abbr title="Phone">Telefone:</abbr>
    (81) 99441-9948
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">luandersonferreira123@gmail.com</a><br />
</address>