@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Comeia me contrata!</h1>
    <p class="lead">Irei apresentar nesse projeto a prática de um Crud tendo como contexto os dados de uma empresa, e vou apresentar o consumo de uma API.</p>
    <p><a href="https://github.com/LuandersonFerreira" class="btn btn-primary btn-lg">Acesse meu Github :) &raquo;</a></p>
</div>
